@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-image: linear-gradient(
      115deg,
      rgba(91, 91, 160, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(tech-team.jpg);
  font-family: "Outfit", sans-serif;
  color: whitesmoke;
}

#title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 8px;
}

#description {
  text-align: center;
  font-style: oblique;
  font-size: 22px;
  margin-bottom: 38px;
}

form {
  background-color: rgba(27, 27, 50, 0.6);
  border-radius: 8px;
  padding: 40px;
  width: 65%;
  height: auto; /* used 'auto' value to ensure form spans the entire page vertically while keeping elements nested within the <form> */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

label,
legend {
  font-size: 24px;
  padding: 8px 0;
  margin-top: 12px;
  display: block;
}
.input-btn,
select {
  font-size: 18px;
  padding: 6px 10px;
  margin-bottom: 12px;
  border: whitesmoke;
  border-radius: 4px;
}

fieldset {
  border: 0;
}

.recs {
  padding: 4px;
  margin: 4px 2px;
}
