@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-image: linear-gradient(
      115deg,
      rgba(91, 91, 160, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(tech-team.jpg);
  font-family: "Outfit", sans-serif;
  color: whitesmoke;
}

#title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 8px;
}

#description {
  text-align: center;
  font-style: oblique;
  font-size: 22px;
  margin-bottom: 38px;
}

form {
  background-color: rgba(27, 27, 50, 0.6);
  border-radius: 8px;
  padding: 40px;
  width: 80%;
  height: 100vh; /* used vh units to ensure form spans the entire page vertically */
  margin: 0 auto;
}
